
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
.logo {
    position: relative;
    width: 292px;
    height: 92px;
    margin: 0 auto;
    top: 215px;

}
#search {
position: relative;
display: block;
margin: 0 auto;
top: 250px;
border-radius: 20px;
width: 350px;
height: 30px;
border-width: 1px;
outline: 0px;
padding: 5px;
}
.signin {
    background: #1a73e8;
    border: 1px;
    height: 40px;
    width: 75px;
    border-color: transparent;
    border-radius: 5px;
    outline: transparent;
    color: white;
    font-family: Sans,Roboto,RobotoDraft,Arial, Helvetica, sans-serif;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;

}
.images {
    width: 10px;
    height: 5px;
    position: absolute;
    top: 15px;
    right: 180px;
 
}
.about {
    position: absolute;
    top: 15px;
    left: 30px;
  
}
.store {
    position: absolute;
    top: 15px;
    left: 85px;

}
#dots {
    position:absolute;
    top: 15px;
    right: 105px;
    width: 20px;
    height: 20px;
    display: block;
}
.gmail {
    position: absolute;
    top: 15px;
    right: 200px;
}
.gsearch{
    position: absolute;
    width: 150px;
    margin: 0 auto;
    top: 398px;
    left: 240px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.luckyblock{
    position: absolute;
    margin: 0 auto;
    width: 150px;
    top: 410px;
    left: 425px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.toplinks{
font-size: 15px;
}


a:link {color: blue;}
a:hover{text-decoration: underline;
cursor: pointer;}